.cta-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px; /* Adjust space between buttons */
}

.cta-button {
    border: 2px solid black; /* Thicker border for better visibility */
    padding: 12px 24px; /* Increase padding for a better look */
    font-size: 1rem; /* Maintain font size */
    font-family: 'Press Start 2P', cursive; /* Apply the Press Start 2P font */
    color: black; /* Set font color to black */
    background: none; /* No background */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Add transition for border color */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Optional: add slight rounding to the corners */
}

.cta-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light gray background on hover */
    color: #000000; /* Optional: change text color slightly on hover */
    border-color: black; /* Ensure border remains black on hover */
    outline: none; /* Remove default focus outline */
}

/* In your HomePage.css or a separate CSS file */
.gif-element {
    position: absolute; /* Use absolute positioning */
}

/* Existing positions */
.gif-element.top-right {
    top: -5%; /* Adjust as necessary */
    right: -5%; /* Adjust as necessary */
    transform: rotate(18deg) scale(0.8);
    
}

.gif-element.top-left {
    top: -2%; /* Adjust as necessary */
    left: -2%; /* Adjust as necessary */
    transform: rotate(-1deg) scale(.9);

}

/* New positions */
.gif-element.bottom-left {
    bottom: 20px; /* Adjust as necessary */
    left: 20px; /* Adjust as necessary */

}

.gif-element.bottom-right {
    bottom:2%; /* Adjust as necessary */
    right:-6%; /* Adjust as necessary */

    transform: rotate(46deg) scale(0.8);

}
