/* src/styles/LeaderboardPage.css */
.leaderboard-page {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    height: 100vh; /* Full viewport height */
    
}

/* Top space to occupy 26vh */
.top-space {
    padding-block: 1rem;
    width: 100vw; /* Full viewport width */
    border: 1.3px dashed black; /* dashed dashed black border for all div elements */
}

/* Main content container to align left, center, right */
.main-content {
    border: 1px dashed black; /* dashed dashed black border for all div elements */
    display: flex; /* Use flexbox for horizontal layout */
    flex: 1; /* Allow this section to grow */
}

/* Left space for the scoreboard image */
.left-space {
    border: 1.2px  dashed black;
     /* dashed dashed black border for all div elements */
    width: 200px; /* Fixed width for the left space */
    margin-top: 0; /* No margin on top */
}

/* Right space for additional content or margin */
.right-space {
    border: 1.3px dashed black; /* dashed dashed black border for all div elements */
    width: 200px; /* Adjust width as needed */
}

/* Leaderboard table space */
.leaderboard-table {
    flex-grow: 1; /* Allow the leaderboard table to take the remaining space */
    margin: 0px; /* Margin on left and right for spacing */
}
