.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #ffffff;
  color: black;
  font-family: 'Press Start 2P', cursive; /* Custom font */
}

.header-left, .header-center, .header-right {
  display: flex;
  align-items: center;
}
.space {
  font-family: 'Digital', monospace; /* Ensures the retro feel */  font-size: normal;}

.header-left {
  flex: 1;
  }

.header-center {
  flex: 1;
  justify-content: left;
}

.header-right {
  flex: 0.4;
  justify-content:left;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container .flag-icon {
  width: 160px;
  height: 50px;
}

.title {
  font-size: 24px;
  margin: 0 10px; /* Add some margin to separate the title from the GIFs */
}

.cyber-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #000;
  background: transparent;
  transition: color 0.3s;
}

