/* src/styles/Leaderboard.css */

.leaderboard {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-family: 'Press Start 2P', cursive; /* Custom font */
    text-align: left;
    border: 2px dashed black; /* Dashed black border for the entire table */
}

.leaderboard th, 
.leaderboard td {
    border: none; /* Remove individual cell borders */
    padding: 12px; /* Increased padding for better spacing */
    background-color: white; /* White background for each row */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.leaderboard th {
    background-color: #464646; /* Dark background for header */
    color: #fff; /* White text for contrast */
}

.leaderboard tr:hover {
    border: 2px solid #339c14; /* Neon green border on hover for the entire row */
}

.leaderboard tr:hover td {
    color: #000000; /* Change text color to neon green on hover */
}

.leaderboard td {
    color: #666; /* Retro text color */
}

.leaderboard th,
.leaderboard td {
    text-align: center; /* Center align all columns */
}

/* Responsive styles */
@media (max-width: 600px) {
    .leaderboard {
        font-size: 14px; /* Slightly larger font size for better readability */
    }
}

/* End of Leaderboard.css */
