/* Add this new class to your existing Leaderboard.css */
.scrollable-container {
    max-height: 84vh; /* Set a maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 2px dashed black; /* Optional: Add border to the scrollable area */
    border-top: none;
}

.leaderboard {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-family: 'Press Start 2P', cursive; /* Custom font */
    /* font-family: 'VT323', monospace; Alternative retro font */
    /* font-family: 'Pixelated MS Sans Serif', sans-serif; */
    font-style: normal; /* Another retro style font */
    text-align: left;
    /* Remove the dashed border from here to apply it to the container */
}

/* Add thin lines for every column and row */
.leaderboard th, 
.leaderboard td {
    border: 1px dashed #000000; /* Add thin border */
    padding: 12px; /* Increased padding for better spacing */
    background-color: white; /* White background for each row */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
    text-align: center; /* Center align items */
}


.leaderboard th {
    background-color: #464646; /* Dark background for header */
    color: #fff; /* White text for contrast */
}

.leaderboard tr {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.leaderboard tr:hover {
    transform: translateY(-5px) scale(1.02); /* Lift and slightly enlarge the row */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Stronger shadow for depth */
    border: 2px solid #1bb300; /* Neon green border on hover */
}

.leaderboard tr:hover td {
    color: #000000; /* Change text color to black on hover */
}

.leaderboard td {
    color: #666; /* Retro text color */
    text-align: center;
}

.leaderboard th:first-child, 
.leaderboard td:first-child {
    text-align: center; /* Center align first column */
}

.leaderboard th:last-child, 
.leaderboard td:last-child {
    text-align: center; /* Right align last column */
}

/* Responsive styles */
@media (max-width: 600px) {
    .leaderboard {
        font-size: 14px; /* Slightly larger font size for better readability */
    }
}

/* End of Leaderboard.css */
